.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.grid {
  display: grid;
  grid-template-columns: 700px 700px;
  justify-content: center;
}

.box {
  border-style: solid;
  margin: 5px; 
  padding: 5px;
  border-width: 1px;
  text-align: center;
}

.big-box {
  border-width: 4px;
}

.medium-box {
  border-width: 3px;
}

.bg-items {
  background-color: rgb(224, 224, 224);
}

.bg-general {
  background-color: rgb(192, 224, 224);
}

.bg-owners {
  background-color: rgb(255, 255, 224);
}


.table  {
  border-collapse:collapse;
  border-spacing:0;
  width: 530px;
}

.table td {
  border-color:black;
  border-style:solid;
  border-width:1px;
  font-size:14px;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}

.table th {
  border-color:black;
  border-style:solid;
  border-width:1px;
  font-size:24px;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}

.table-container {
  display: flex;
  justify-content: center;
}